<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>contact Restaurant</title>

    <!-- start-link:: -->

    <!-- ++++++++++++++++++   Adding  fav-icons  ++++++++++++++++++ -->

    <!-- favicon.ico for legacy browsers -->
    <link
      rel="shortcut icon"
      href="../content/assets/images/fdb994a94bfba1b4711d35ae2b0898c0.jpg"
    />

    <!-- 180×180 PNG image for Apple devices -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../content/assets/images/fdb994a94bfba1b4711d35ae2b0898c0.jpg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../content/assets/images/fdb994a94bfba1b4711d35ae2b0898c0.jpg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../content/assets/images/fdb994a94bfba1b4711d35ae2b0898c0.jpg"
    />

    <!-- *********************    Lato Font   ************************************** -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- ***********************   font-awsome library style sheets  ********************* -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- **********************  Font-Awesome Icons style sheet ************************** -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- ***********************   styles sheets  ********************************** -->
    <link rel="stylesheet" href="../content/css/vendeors/bootstrap.css" />
    <link rel="stylesheet" href="../content/css/vendeors/font-icons.css" />
    <link rel="stylesheet" href="../content/css/vendeors/all.min.css" />
    <link rel="stylesheet" href="../content/css/main/dark.css" />
    <link rel="stylesheet" href="../content/css/main/Contact.css" />
    <link rel="stylesheet" href="../content/css/main/style.css" />
    <!-- end-link:: -->
  </head>
  <body>
    <!-- start: Navbar -->
    <nav
      class="navbar bg-white navbar-expand-lg navbar-light fixed-top py-3 font-heading shadow-sm"
    >
      <div class="container">
        <a class="navbar__brand-link" href="#">
          <img
            class="navbar__brand-logo"
            src="../content/assets/images/logo-1.png"
            alt=" Pizza logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse flex-grow-0 navbar-collapse"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
            <li class="nav-item">
              <a class="nav-link active" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./about.html"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./menu.html"
                >Menu</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Contact.html">Contact</a>
            </li>
          </ul>
        </div>

        <div
          class="collapse flex-grow-0 navbar-collapse"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
            <li class="nav-item">
              <i class="nav-link fa-solid fa-magnifying-glass"></i>
            </li>
            <li class="nav-item">
              <i class="nav-link fa-solid fa-cart-shopping"></i>
            </li>
            <li class="nav-item">
              <i class="nav-link fa-regular fa-heart"></i>
            </li>
            <div class="theme nav-item">
              <i class="theme__icon nav-link fas fa-sun"></i>
              <label class="theme__switch">
                <input class="switch__input" type="checkbox" />
                <span class="slider round"></span>
              </label>
            </div>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end : Navbar -->
    <!--start : Contact-->
    <!--  end : ContactHome -->
    <main>
      <section class="ses--hero bg-image bg-secondary vh-100 pt-5">
        <div class="container h-100 py-5">
          <div class="h-100 row justify-content-center align-items-center">
            <div class="col-lg-8 text-center">
              <h1 class="text-white display-4">Contact</h1>
              <hr class="divider bg-primary" />
              <p class="text-light text-opacity-75 mb-5 lead">
                Home // Contact
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="alert-dark py-5">
        <div class="container">
          <div class="row gy-5 gy-lg-0">
            <div class="col-lg-4">
              <div class="bg-light p-3 text-center">
                <i class="fa-solid fa-location-dot"></i>
                <p class="text-muted fw-bold">Address</p>
                <p class="text-muted fw-bold">
                  228-5 Main Street, Georgia, USA
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="bg-light p-3 text-center">
                <i class="fa-solid fa-envelope"></i>
                <p class="text-muted fw-bold">Email Address</p>
                <p class="text-muted fw-bold">contact@educavo.com</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="bg-light p-3 text-center">
                <i class="fa-solid fa-mobile"></i>
                <p class="text-muted fw-bold">Phone Number</p>
                <p class="text-muted fw-bold">(+01)999-999-4444</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sec sec--services bg-white pt-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
              <h2 class="">Write a message</h2>

              <p class="text-muted mb-5 h5">
                If you got any questions, please do not hesitate to send us a
                message. We reply within 24 hours !
              </p>
              <div class="Contact-social-icon">
                <span>Our profiles in social media:</span>
                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
              </div>
            </div>
            <!-- <div class="col-12"></div> -->

            <div class="col-lg-6">
              <form action="">
                <div class="form-floating mb-3">
                  <input
                    name="name"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Full name"
                    data-sb-validations="required"
                    data-sb-can-submit="no"
                  />
                  <label for="floatingInput">Full name</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="name:required"
                  >
                    A name is required.
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Email address"
                    data-sb-validations="required"
                    data-sb-can-submit="no"
                  />
                  <label for="floatingInput">Email address</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="email:required"
                  >
                    An email is required.
                  </div>
                  <div class="invalid-feedback" data-sb-feedback="email:email">
                    Email is not valid.
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input
                    id="phone"
                    name="phone"
                    type="tel"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Phone number"
                    data-sb-validations="required"
                    data-sb-can-submit="no"
                  />
                  <label for="floatingInput">Phone number</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="phone:required"
                  >
                    A phone number is required.
                  </div>
                </div>
                <div class="form-floating">
                  <textarea
                    id="message"
                    name="message"
                    class="form-control"
                    placeholder="Message"
                    id="floatingTextarea2"
                    data-sb-validations="required"
                    data-sb-can-submit="no"
                    style="height: 8rem"
                  ></textarea>
                  <label for="floatingTextarea2">Message</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="message:required"
                  >
                    A message is required.
                  </div>
                </div>

                <div class="text-center">
                  <input
                    type="submit"
                    value="Send message"
                    class="wpcf7-form-control has-spinner wpcf7-submit btn btn-theme mt-3 w-50 rounded-pill py-3 font-headin"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-white pt-5 text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="gmap">
                <div class="google-map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.076580361279!2d90.42012377506656!3d23.78028717865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7572b23f4e5%3A0xe26372e73a6832e7!2sRSTheme!5e0!3m2!1sen!2sus!4v1683784025930!5m2!1sen!2sus"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    aria-hidden="false"
                    tabindex="0"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- start footer -->
    <footer class="footer-section">
      <div class="container">
        <div class="footer-content pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                <div class="footer-logo">
                  <a href="index.html"
                    ><img
                      src="../content/assets/images/logo-white-red.png"
                      class="img-fluid"
                      alt="pizza logo"
                  /></a>
                </div>
                <div class="footer-text">
                  <p>
                    PizzaBridge, the pizzeria offering you the most delicious
                    sliced pizza, made with the finest ingredients and in a
                    traditional way.
                  </p>
                </div>
                <div class="footer-social-icon">
                  <span>Follow us</span>
                  <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                  <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Useful Links</h3>
                </div>
                <ul>
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="./about.html">about</a></li>
                  <li><a href="./menu.html">Menu</a></li>
                  <li><a href="./menu.html">Offers</a></li>
                  <li><a href="./Contact.html">Contact</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="./Contact.html">Contact us</a></li>
                  <li><a href="#">Find A Restaurant </a></li>
                  <li><a href="#">Join our team</a></li>
                  <li><a href="#">Delivery</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Subscribe Now</h3>
                </div>
                <div class="footer-text mb-25">
                  <p>
                    Don’t miss to subscribe to our new feeds, kindly fill the
                    form below.
                  </p>
                </div>
                <div class="subscribe-form">
                  <form action="#">
                    <input type="text" placeholder="Enter Your Email Address" />
                    <button><i class="fab fa-telegram-plane"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 text-center text-lg-left">
              <div class="copyright-text">
                <div class="copyright-text">
                  <p>Copyright &copy; 2023, Hager Hamed Mohamed</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
              <div class="footer-menu">
                <ul>
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="./views/about.html">About</a></li>
                  <li><a href="./views/menu.html">Menu</a></li>
                  <li><a href="./views/contact us.html">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--  end footer -->
    <!-- start-script:: -->
    <script src="./content/js/vendeors/bootstrap.bundle.js"></script>

    <script src="../content/js/main/dark.js"></script>
    <!-- end-script:: -->
  </body>
</html>
